@font-face {
  font-family: 'volk';
  src: url("../fonts/Montserrat.otf");
  src: url("../fonts/Vollkorn-Regular.svg");
  src: url("../fonts/Vollkorn-Regular.woff");
  src: url("../fonts/Vollkorn-Regular.otf");
  src: url("../fonts/Monsterrat-Bold.ttf"); }
@font-face {
  font-family: 'volk';
  src: url("../fonts/Montserrat.otf");
  src: url("../fonts/Vollkorn-Regular.svg");
  src: url("../fonts/Vollkorn-Regular.woff");
  src: url("../fonts/Vollkorn-Regular.otf");
  src: url("../fonts/Monsterrat-Bold.ttf"); }
.units-container {
  margin-top: 80px; }

ul, li {
  display: block;
  list-style-type: none; }

a {
  text-decoration: none;
  color: #7a8cb8; }

.arial-text {
  font-family: "tahoma";
  color: #172112; }

.table-row {
  margin: 3.5em 3.5em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 2em; }

.table-cell {
  color: #172112;
  background: #fff; }

.table-row.td {
  padding-bottom: 1em; }

.first {
  text-align: left; }

.second {
  text-align: right; }

.ingredient {
  border: 1px dashed black;
  padding: 2em;
  margin: 2em 2em;
  font-style: bold;
  font-family: "tahoma";
  background: #fff;
  font-size: 1.1em;
  text-align: center;
  color: #999;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }

.ingredient td {
  font-size: 0.8em;
  font-family: "tahoma"; }

.ingredient-header {
  text-align: center; }

.ingredient table {
  width: 60%; }

.header {
  color: #547e44; }

.top-list {
  color: #172112;
  font-family: 'arial';
  line-height: 1.2em; }

.under-top-list {
  color: #172112;
  font-size: 1.2em; }

.toppings {
  text-align: center;
  margin: 2em 2em;
  border: 1px dashed black;
  background: #fff;
  font-family: 'volk';
  font-size: 1.2em;
  color: #547e44;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 2em; }

.toppings-header {
  text-align: center; }

.topping-description {
  margin: 2em 2em;
  font-family: "volk";
  color: #172112;
  line-height: 1.3em;
  background: #fff;
  border: 1px dashed black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 2em; }

.list {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 2em;
  text-align: center;
  color: #547e44; }

.recipe-table {
  background: #fff;
  border: solid 1px #172112;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 1.2em 1.2em;
  text-align: center; }

.step-image {
  border: solid #172112 1px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 2em;
  background: #FFF;
  margin-left: auto;
  margin-right: auto; }

.step-image img {
  width: 75%;
  margin-left: auto;
  margin-right: auto; }
