%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:recipes, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:recipes, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:recipes, :edit, :id => @recipe.id)
.tabs-content
  -form_for :recipe, url(:recipes, :update, :id => @recipe.id), :method => :put,  :enctype=>"multipart/form-data",:class => 'form-horizontal' do |f|
    =partial 'recipes/form', :locals => { :f => f }
