.stepbox
  ="this is step # for recipe# #"
- error = @top.errors.include?(:title)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :title, :class => 'control-label'
  .controls
    =f.text_field :title, :class => 'form-control input-large input-with-feedback tooltip-success', 
      :autofocus => true,
      :'data-toggle'=>"tooltip",:'data-placement'=>'top', :title=>'Title for the Topping'
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)


- error = @top.errors.include?(:ingredients)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :ingredients, :class => 'control-label'
  .controls
    =f.text_area :ingredients, :class => 'form-control input-large input-with-feedback tooltip-success', 
      :autofocus => true,
      :'data-toggle'=>"tooltip",:'data-placement'=>'top', 
      :title=>'The ingredients that you are using for the topping. Please use comma to seperate there values'
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)


- error = @top.errors.include?(:description)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :description, :class => 'control-label'
  .controls
    =f.text_area :description, :class => 'form-control input-large input-with-feedback tooltip-success', 
      :autofocus => true,
      :'data-toggle'=>"tooltip",:'data-placement'=>'top', 
      :title=>'How do you make this recipe'
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)
  
  
  
  
  
  =f.hidden_field :recipe_id , :value => @recipe.id
  .form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:recipes , :index), :class => 'btn btn-default'
  =link_to pat(:topping),  url_for(:toppings ,:new, :id=>@recipe.id), :class=>'btn btn-success'
