%head
  %link{href: "/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
  %meta{charset: "utf-8"}/
  %title Jo Goes Green
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %meta{content: "", name: "description"}/
  %meta{content: "", name: "author"}/
  = stylesheet_link_tag 'bootstrap','post','recipe','comments','pop_box','jquery.fancybox','navbar','main_layout'
  
